{% extends 'base.html' %}
{% block title %} Add Cookie{% endblock %}

{% block content %}
<div class="container center_div">
    <h4>Add a Cookie:</h4>
    <br>
        <form method="post">
            <div class="form-group">
                <label for="age"><h5>Cookie #</h5></label>
                <br>
                <input type="number" name="cookie_id" placeholder="Cookie ID number"></input>
            </div>
            <div class="form-group">
                <label for="text"><h5>Text of Cookie:</h5></label>
                <br>
                <textarea class="inputbox" name="cookie_text" rows="4" cols="50" placeholder="Text of Cookie"></textarea>
            </div>

            
            <button type="submit" class="button">Submit</button>
        </form> 
</div>
{% endblock %}

