{% extends 'base.html' %}
{% block title %} Index {% endblock %}


{% block content %}
<p> <h5>Cookie # {{ cookie_id }} says: </h5> </p>
<p class="subline"> "{{ cookie_text }}" </p>


<!-- ANIMATION CONTAINER -->
<div class="animation-container animation-fade-left" data-animation-delay="600"> 
    
    
</div>
<!-- /ANIMATION CONTAINER -->


<!-- ANIMATION CONTAINER -->
<div class="animation-container animation-fade-up" data-animation-delay="900"> 


<!-- This button only reloads the page, does not call the py getrandomcookie() function -->
<p><a href=random ><button type="button" class="button">Get Another Cookie?...</button></a></p>

<p><a href=createcookie ><button type="button" class="button">Or Upload Your Own Cookie?...</button></a></p>

    

</div>
<!-- /ANIMATION CONTAINER -->
{% endblock %}


                    

                    
